@import "./src/assets/styles/mixins";
@import "./src/assets/styles/variables";

.container {
  @include flex-container(flex-start, column, center);
  height: 97vh;
}
h1{
  align-self: center;
  background: $primary-color;
  margin-top: 50px;
}
