<mu-header></mu-header>
<div class="content">
  <div class="funtionalities">
    <div class="search-bar">
      <input type="text" placeholder="  Search... " #searchedString [(ngModel)]="inputValue">
      <button type="button" (click)="searchHeroes(searchedString.value)">GO</button>
    </div>
    <div class="sort-button" (click)="sortHeroes()">
      <button type="button">SORT</button>
    </div>
  </div>
  <mu-loader></mu-loader>
  <div class="card-container">
    <div class="card" *ngFor="let hero of allHeroes">
      <mu-card [card]="hero" (newItemEvent)="getHeroDetail($event)" ></mu-card>
    </div>
  </div>
</div>
<mu-footer></mu-footer>
