@import "./src/assets/styles/mixins";
@import "./src/assets/styles/variables";

.content {
  overflow: scroll;
  height: 800px;
}

.funtionalities {
  background: $background-color;
  padding: 30px;
  @include flex-container(space-evenly, row, center);
  @include for-phone-only() {
    display: none;
  }
  margin-top: 50px;
}

.search-bar input {
  border-radius: 20px;
  width: 300px;
  height: 35px;
  outline: 0;
}

.search-bar > button {
  margin-left: 20px;
  width: 80px;
}

.header-button {
  width: 150px;
  height: 30px;
  @include button-styles();
}

button:hover {
  background: $hover-color;
}

#form-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 32%;
  z-index: 1000;
  padding-top: 80px;
  height: 100%;
  width: 500px;
}

form {
  background: #323232;
  padding: 50px;
  margin-top: 100px;
  @include flex-container(center, column, center);
  box-shadow: 10px 10px 5px 1000px rgba(0, 0, 0, 0.75);
}

label {
  margin: 10px 10px;
  cursor: pointer;
  font-weight: bolder;
  color: white;
}

.form-field {
  padding: 20px;
}

.form-button {
  display: inline-block;
  width: 80px;
  margin: 25px 10px;
  @include button-styles();
}

input {
  border-radius: 25px;
  width: 250px;
}


.card-container {
  padding: 0px 30px 30px 30px;
  background: floralwhite;
  @include flex-container(space-evenly, row, center);
  flex-wrap: wrap;
}

.card {
  padding: 20px;
  width: 30%;
  margin: 20px 0px;
  @include flex-container(center, column, center);
  @include for-phone-only() {
    width: 100%;
  }
}

.has-errors label{
  color: $primary-color;
}

.has-errors input {
  border-color: $primary-color;
}

.error-feedback {
  color: $primary-color;
  display: block;
  margin: 5px 0 0 90px;
}

.icon-color {
  color: $primary-color;
}

.addIcon {
  cursor: pointer;
}
