@import "./src/assets/styles/mixins";
@import "./src/assets/styles/variables";

* {
  text-align: center;
}

form {
  background: rgba(255, 0, 0, 0.4);
  padding: 50px;
  margin-top: 100px;
  @include flex-container(center, column, center);
}

label {
  display: block;
  margin: 10px 0;
  cursor: pointer;
  font-weight: bolder;
}

button {
  display: block;
  width: 80px;
  margin: 25px 0px;
  @include button-styles();
}

input {
  border-radius: 25px;
}

.invalid-feedback {
  display: block;
  color: $primary-color;
}

.is-invalid {
  color: $primary-color;
}

.is-invalid input {
  border-color: $primary-color;
}

