$primary-color: #e62429;
$article-container-color: #FFEBCDFF;
$table-color: #202020;
$table-hover-color: #a8a7a7;
$text-color: azure;
$popular-page-linear-gradient: linear-gradient(to top, #696868, #8a7b7c, #ac8f90, #cea3a6, #f2b7bc);
$background-color: #000;
$hover-color: #808080FF;

