@import './src/assets/styles/mixins';
@import "src/assets/styles/variables";

footer {
  @include flex-container(space-between);
  box-shadow: 0 1px 6px;
  min-height: 60px;
  background-color: $primary-color;
  margin: 25px 0; //debug
  @include for-phone-only {
    footer {
      flex-direction: column;
      align-items: center;
    }
  }
}

img {
  width: 30px;
  padding-left: 19px;
  transition: 0.4s;
}

.footer-wrapper img {
  margin-top: 15px;
}

.footer-wrapper {
  display: flex;
  margin-right: 25px;
  @include for-phone-only {
    .footer-wrapper {
      flex-direction: column;
      align-items: center;
    }
  }
}

img:hover {
  filter: invert(1);
}

