@import "src/assets/styles/mixins";

footer {
  @include footer-flex-container();
}

@include media-query-footer();

img {
  width: 30px;
  padding-left: 19px;
  transition: 0.4s;
}

.footer-wrapper img {
  margin-top: 15px;
}

.footer-wrapper {
  display: flex;
  margin-right: 25px;
}

img:hover {
  filter: invert(1);
}

