<footer>
  <img src="./assets/images/icons/marve_footer_icon.svg" alt="">
  <section class="footer-wrapper">
    <a href="https://www.facebook.com/Marvel/" target="_blank"><img src="./assets/images/icons/facebook-1.svg"
                                                                    alt="fb_logo"></a>
    <a href="https://twitter.com/marvel" target="_blank"><img src="./assets/images/icons/twitter.svg"
                                                              alt="twitter_logo"></a>
    <a href="https://www.instagram.com/marvel/" target="_blank"><img src="./assets/images/icons/instagram.svg"
                                                                     alt="insta_logo"></a>
    <a href="https://marvelentertainment.tumblr.com/" target="_blank"><img src="./assets/images/icons/tumblr.svg"
                                                                           alt="tumblr_logo"></a>
    <a href="https://www.pinterest.com/marvelofficial/" target="_blank"><img src="./assets/images/icons/pinterest.svg"
                                                                             alt="pinterest_logo"></a>
    <a href="https://www.snapchat.com/add/marvelhq" target="_blank"><img src="./assets/images/icons/snapchat.svg"
                                                                         alt="snapchat_logo"></a>
    <a href="https://www.youtube.com/marvel" target="_blank"><img src="./assets/images/icons/youtube.svg" alt="yt_logo"></a>
  </section>
</footer>
